.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 800px;
  padding-top: 100px;

  background: url("../img/intro-bg.jpg") center no-repeat;
  background-size: cover;

  box-shadow: inset 1px 1px 30px black;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;

  text-align: center;
}

.intro__title {
  margin: 0 0 40px;

  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4;
}

.intro__subtitle {
  margin-bottom: 60px;

  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}